body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
h1 {
  font-size: 2em;
  color: #333;
  text-align: center;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  margin: 10px;
  padding: 20px 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.card img {
  width: 100%;
  border-radius: 15px;
}
.card.img1:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}
.card.img2:hover {
  transform: rotate(180deg);
  transition: transform 0.5s ease-out;
}
.card.img3:hover {
  opacity: 0.5;
  transition: transform 0.5s;
}
.card.img4:hover {
  transform: translate(30px, 30px);
  transition: transform 0.5s;
}

.card.img5:hover {
  box-shadow: 0px 0px 15px 1px #333;
  transition: transform 0.5s;
}
.card.img6 {
  filter: blur(25px);
  opacity: 0.5;
}
.card.img6:hover {
  filter: blur(0px);
  transition: filter 0.5s ease-in-out;
  opacity: 1;
}
